<!DOCTYPE html>
<html>
<body>

<table>
<tr>
<td>
Fullname*:<input type="text" ng-model="fullname"></input><br>
</td>
</tr>

<tr>
<td>
Specialization:<input type="text" ng-model="specialiation"></input><br>
</td>
</tr>

<tr>
<td>
Phonenumber:<input type="number" ng-model="phonenumber.length>10" MaxLength="10"></input><br>
</td>
</tr>

<tr>
<td>
Email*:<input type="email" ng-model="Email" ></input><br>
</td>
</tr>

<tr>
<td>
Age:<input type="number" ng-model="age"></input><br>
</td>
</tr>


<tr>
<td>
Username*:<input type="text" ng-model="username"></input><br>
</td>
</tr>

<tr>
<td>
Password:<input type="password" ng-model="pwd"></input><br>
</td>
</tr>

<tr>
<td>
<button type="submit"  ng-click="Doctor_register()">Register</button>
</td>
</tr>

</div>
</table>
</body>
</html>