<!DOCTYPE html>
<html>
<body>
Fullname*:<input type="text" ng-model="fullname"></input><br>
Phonenumber:<input type="number" ng-model="phonenumber.length>10" MaxLength="10"></input><br>
Email*:<input type="email" ng-model="Email" ></input><br>
Age:<input type="number" ng-model="age"></input><br>
Username*:<input type="text" ng-model="username"></input><br>
Password:<input type="password" ng-model="pwd"></input><br>
<button type="submit"  ng-click="Patient_register()">Register</button>

</div>
</body>
</html>